<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/orders/list">Orders</a></li>
    <li class="breadcrumb-item">Add</li>
</ol>

<h1 class="display-4">Add Order</h1>

<form method="POST" action="/added">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control"> 
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control"></textarea>
    </div>
    <input type="submit" value="submit" class="btn btn-danger">
</form>