Hello from this side
<h1 class="display-4">Manage all your orders in <strong>My Store</strong></h1>
<p class="mb-4">This is a sails.js CRUD app</p>
<a href="orders/list" class="btn btn-light">View Orders</a>
<a href="orders/add" class="btn btn-light">Add Order</a>